app-chart-list {
    /*margin:0.5em;*/
}

.app-chart-list .app-promo-filler {
    height: 89px;
}

.app-chart-list .ui-listview {
    margin: 0;
    margin-top: -1px;
}

.app-chart {
    float: left;
    width: 100%;
    position: relative;
    display: inline-block;
}

    .app-chart .app-chart-inner {
        display: block;
        border: solid 1px #ccc;
        padding: 0;
        padding-left: 3px;
        background-color: #fff;
        margin-top: -1px;
        margin-left: -1px;
    }

    .app-chart.app-chart-has-data .app-chart-inner {
        padding-left: 0;
    }


.app-theme-dark .app-chart .app-chart-inner,
.app-theme-dark .app-chart-header,
.app-theme-dark .app-chart .app-chart-headerbar,
.app-theme-dark .app-echo .app-chart-list,
.app-theme-dark .app-chart .app-chart-data {
    color: #fff;
    border-color: #333;
    background-color: #1f1f1f;
}

    .app-theme-dark .app-chart .app-chart-data table th,
    .app-theme-dark .app-chart .app-chart-data table td {
        color: #ccc;
        border-color: #333;
    }

@media (min-width: 40em) {
    body.app-sidebar-undocked .app-chart {
        width: 50%;
    }

        body.app-sidebar-undocked .app-chart.app-chart-medium,
        body.app-sidebar-undocked .app-chart.app-chart-large {
            width: 100%;
        }
}


@media (min-width: 50em) {
    body:not(.app-sidebar-undocked) .app-chart {
        width: 50%;
    }

        body:not(.app-sidebar-undocked) .app-chart.app-chart-medium,
        body:not(.app-sidebar-undocked) .app-chart.app-chart-large {
            width: 100%;
        }
}

@media (min-width: 62em) {
    body.app-sidebar-undocked .app-chart {
        width: 33.333%;
    }

        body.app-sidebar-undocked .app-chart.app-chart-medium {
            width: 66.666%;
        }

        body.app-sidebar-undocked .app-chart.app-chart-large {
            width: 100%;
        }
}


@media (min-width: 85em) {
    body:not(.app-sidebar-undocked) .app-chart {
        width: 33.333%;
    }

        body:not(.app-sidebar-undocked) .app-chart.app-chart-medium {
            width: 66.666%;
        }

        body:not(.app-sidebar-undocked) .app-chart.app-chart-large {
            width: 100%;
        }
}

.app-chart .ui-btn {
    border-width: 0;
    margin: 0;
    padding: 0;
    position: absolute;
    display: inline-block;
    top: 0;
    bottom: auto;
    left: auto;
    right: 1px;
    width: 30px;
    height: 30px;
}

    .app-chart .ui-btn:not(.ui-btn-active):not(:hover) {
        background-color: transparent !important;
    }

.app-chart .app-btn-more {
    width: 30px;
    height: 30px;
    top: 0;
    left: 0;
    position: absolute;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 15px 15px;
    cursor: pointer;
}

.app-chart .app-chart-mini {
    height: 40px;
    width: 60px;
    margin-top: 12px;
    margin-left: 12px;
    float: left;
    cursor: pointer;
}

.app-chart .app-chart-headerbar {
    color: #000;
    height: 52px;
    padding-bottom: 0.25em;
    width: 100%;
    background-color: #fff;
}

.app-chart.app-chart-has-data .app-chart-header {
    font-size: 12px;
    font-weight: bold;
    position: absolute;
    margin-left: 1em;
    margin-right: 2.5em;
    top: 1em;
}

.app-echo .app-echo-inner .app-chart-header {
    white-space: normal;
}

.app-chart-medium.app-chart-has-data .app-chart-header {
    font-size: 14px;
}

.app-chart-large.app-chart-has-data .app-chart-header {
    font-size: 16px;
}

.app-chart .app-chart-data {
    position: absolute;
    overflow: auto;
    height: 80%;
    width: 100%;
    background-color: #fff;
}

    .app-chart .app-chart-data table {
        border-collapse: collapse;
        padding: 1em;
        padding-top: 0;
        margin: 1em;
        margin-top: 0;
    }

        .app-chart .app-chart-data table th,
        .app-chart .app-chart-data table td {
            color: #333;
            border: solid 1px #ccc;
            padding: 6px;
            font-size: 14px;
        }


            .app-chart .app-chart-data table th,
            .app-chart .app-chart-data table td:not(:first-child) {
                text-align: center;
            }

.app-density-compact .app-chart .app-chart-data table th,
.app-density-compact .app-chart .app-chart-data table td {
    font-size: 12px;
}

/*.app-density-condensed .app-chart.app-chart-has-data .app-chart-header {
    font-size: 12px;
}*/
.app-density-condensed .app-chart .app-chart-data table th,
.app-density-condensed .app-chart .app-chart-data table td {
    font-size: 10px;
}
/*.app-density-condensed .app-chart.app-chart-has-data .app-chart-header {
    font-size: 12px;
}*/

.app-chart .app-chart-data table th:first-of-type {
    white-space: nowrap;
}

.app-chart .app-chart-data table td {
    padding: 3px;
}

/* Theming */
.app-theme-aquarium .app-chart .app-chart-inner {
    border-color: #C3DCFC;
}

.app-theme-azure .app-chart .app-chart-inner {
    border-color: #b5c4c4;
}

.app-theme-belltown .app-chart .app-chart-inner {
    border-color: #7bb2ac;
}

.app-theme-berry .app-chart .app-chart-inner {
    border-color: #faa5c1;
}

.app-theme-bittersweet .app-chart .app-chart-inner {
    border-color: #f3e1a7;
}

.app-theme-cay .app-chart .app-chart-inner {
    border-color: #d2d2b4;
}

.app-theme-citrus .app-chart .app-chart-inner {
    border-color: rgb(215, 232, 167);
}

.app-theme-classic .app-chart .app-chart-inner {
    border-color: #b6cdf7;
}

.app-theme-construct .app-chart .app-chart-inner {
    border-color: #d1d6b3;
}

.app-theme-convention .app-chart .app-chart-inner {
    border-color: #eef095;
}

.app-theme-darkknight .app-chart .app-chart-inner {
    border-color: #c6c6c6;
}

.app-theme-felt .app-chart .app-chart-inner {
    border-color: #ffcd76;
}

.app-theme-graham .app-chart .app-chart-inner {
    border-color: #fed49d;
}

.app-theme-granite .app-chart .app-chart-inner {
    border-color: #bcaaa7;
}

.app-theme-grapello .app-chart .app-chart-inner {
    border-color: #d2b1ee;
}

.app-theme-gravity .app-chart .app-chart-inner {
    border-color: #d9d9d9;
}

.app-theme-lacquer .app-chart .app-chart-inner {
    border-color: #707984;
}

.app-theme-laminate .app-chart .app-chart-inner {
    border-color: #e3c7cd;
}

.app-theme-lichen .app-chart .app-chart-inner {
    border-color: #c6c58f;
}

.app-theme-mission .app-chart .app-chart-inner {
    border-color: #badb8f;
}

.app-theme-modernrose .app-chart .app-chart-inner {
    border-color: #ffcce1;
}

.app-theme-municipal .app-chart .app-chart-inner {
    border-color: #f4b29b;
}

.app-theme-pinnate .app-chart .app-chart-inner {
    border-color: #d5e503;
}

.app-theme-plastic .app-chart .app-chart-inner {
    border-color: #3c9aad;
}

.app-theme-ricasso .app-chart .app-chart-inner {
    border-color: #bababa;
}

.app-theme-simple .app-chart .app-chart-inner {
    border-color: #bfbfbf;
}

.app-theme-social .app-chart .app-chart-inner {
    border-color: #d2d2d3;
}

.app-theme-summer .app-chart .app-chart-inner {
    border-color: #c4d6cb;
}

.app-theme-vantage .app-chart .app-chart-inner {
    border-color: #ffb219;
}

.app-theme-verdant .app-chart .app-chart-inner {
    border-color: #8fbf28;
}

.app-theme-viewpoint .app-chart .app-chart-inner {
    border-color: #acbf2d;
}

.app-theme-whitesmoke .app-chart .app-chart-inner {
    border-color: #d9d9d9;
}

.app-theme-yoshi .app-chart .app-chart-inner {
    border-color: #f2af79;
}

/*******************/
/*Calendar Styling */
/*******************/

.app-calendar {
    line-height: normal;
    margin-top: -.5em;
    margin-bottom: -.5em;
}

    .app-calendar .app-calendar-year {
        clear: both;
    }

.app-calendar-year-header {
    width: 100%;
}

.app-calendar .app-calendar-year h1 {
    border-bottom: 1px solid lightgrey;
    font-weight: normal;
    font-size: 45px;
    width: 5.33em;
    margin: 0 auto .5em auto;
}

.app-density-compact .app-calendar-year h1 {
    width: 4.66em;
}

.app-density-condensed .app-calendar-year h1 {
    width: 4em;
}

.app-calendar .app-calendar-yearview .app-calendar-month {
    display: block;
    float: left;
    /*border: solid 1px grey;*/
    box-sizing: border-box;
    width: 100%;
    padding: 0 0.5em 2em 0;
}

.app-calendar-yearview .app-calendar-month table:hover {
    cursor: pointer;
}

@media (min-width: 32em) {
    .app-calendar .app-calendar-yearview .app-calendar-month {
        width: 50%;
    }

    .app-calendar-year h1 {
        padding-right: 50%;
    }
}

@media (min-width: 55em) {
    .app-sidebar-undocked .app-calendar .app-calendar-yearview .app-calendar-month {
        width: 33.33%;
    }

    .app-sidebar-undocked .app-calendar-year h1 {
        padding-right: 66.66%;
    }
}

@media (min-width: 62em) {
    body:not(app-sidebar-undocked) .app-calendar .app-calendar-yearview .app-calendar-month {
        width: 33.33%;
    }

    body:not(app-sidebar-undocked) .app-calendar-year h1 {
        padding-right: 66.66%;
    }
}

@media (min-width: 65em) {
    .app-sidebar-undocked .app-calendar .app-calendar-yearview .app-calendar-month {
        width: 25%;
    }

    .app-sidebar-undocked .app-calendar-year h1 {
        padding-right: 75%;
    }
}

@media (min-width: 77em) {
    body:not(app-sidebar-undocked) .app-calendar .app-calendar-yearview .app-calendar-month {
        width: 25%;
    }

    body:not(app-sidebar-undocked) .app-calendar-year h1 {
        padding-right: 75%;
    }
}

@media (min-width: 95em) {
    .app-sidebar-undocked .app-calendar .app-calendar-yearview .app-calendar-month {
        width: 16.66%;
    }

    .app-sidebar-undocked .app-calendar-year h1 {
        padding-right: 84%;
    }
}

@media (min-width: 107em) {
    body:not(app-sidebar-undocked) .app-calendar .app-calendar-yearview .app-calendar-month {
        width: 16.66%;
    }

    body:not(app-sidebar-undocked) .app-calendar-year h1 {
        padding-right: 84%;
    }
}

.app-calendar .app-calendar-yearview .app-calendar-month table {
    box-sizing: content-box;
    width: 15em;
    margin-left: auto;
    margin-right: auto;
}

.app-calendar .app-calendar-yearview .app-calendar-month th {
    font-weight: normal;
}

.app-calendar .app-calendar-yearview .app-calendar-month td {
    /*border: 1px solid red;*/
    min-height: 1px;
    padding: 0.3em;
    text-align: center;
}

.app-calendar-yearview .app-calendar-month-header {
    color: #ff3a2d;
    font-size: 24px;
    width: 230px;
    margin-right: auto;
    margin-left: auto;
}

.app-density-compact .app-calendar-month-header {
    width: 200px;
}

.app-density-condensed .app-calendar-month-header {
    width: 170px;
}

.app-calendar-month .current-day {
    background-color: #ff3a2d;
    border-radius: 50%;
    color: #fff;
    font-weight: bold;
}

.app-calendar-monthview .app-calendar-month {
    height: 100%;
}

    .app-calendar-monthview .app-calendar-month table {
        width: 100%;
        border-collapse: collapse;
    }

        .app-calendar-monthview .app-calendar-month table tr {
            height: 5em;
        }

        .app-calendar-monthview .app-calendar-month table td {
            border: solid 1px grey;
        }

.app-calendar-load-at-top {
    padding-top: 2em;
    padding-bottom: 5em;
}

.app-calendar-load-at-bottom {
    padding-top: 5em;
    padding-bottom: 2em;
}

    .app-calendar-load-at-top a,
    .app-calendar-load-at-bottom a {
        margin-left: auto;
        margin-right: auto;
        background-color: transparent !important;
        border-width: 0;
        font-weight: normal;
    }

.app-bar-header .app-bar-calendar {
    padding-top: .5em;
    padding-bottom: .5em;
    height: 26px;
}

    .app-bar-header .app-bar-calendar .app-tabs {
        display: inline-block;
        margin-left: 15%;
        margin-right: 15%;
        max-width: 70%;
        width: 70%;
    }

    .app-bar-header .app-bar-calendar .app-calendar-scope {
        display: inline-block;
        left: 14px;
        position: absolute;
        font-weight: normal;
        font-size: 18px;
    }

.app-bar-footer .app-bar-calendar-footer {
    padding: .5em 1em;
    font-size: 12px;
    font-weight: normal;
}


@media (min-width: 30em) {
    .app-bar-header .app-bar-calendar .app-tabs {
        position:absolute;
        left: 50%;
        margin-left: -200px;
        width: 400px;
    }
}